@page "/"

<h1>REZERVACIJA TERMINA !! </h1>

<p>Dobrodošli. Ovdje možete otvoriti kalendar za rezervaciju termina u određenom vremenu. Sve što je potrebno napraviti je kliknuti na gumb ispod</p>

<NavLink class="nav-link" href="Identity/Account/Login">
    <span class="oi oi-plus" aria-hidden="true"></span> Identity/Account/Login
</NavLink>
